
The Kingdom of Britany 2 Update/base/characters/Satoru_Beach/desktop.ini
The Kingdom of Britany 2 Update/base/characters/Evie_Juror/desktop.ini
The Kingdom of Britany 2 Update/base/characters/Evie/desktop.ini
